.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 64px 160px;
    gap: 752px;
    width: auto;
    height: 175px;
}

.header h2{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120px;
    color: #000000;
}