body {
  margin: 0px auto;
  max-width: 1120px;
  background: #F1F1F1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F1F1F1;
}

*, *::after, *::before{    
  box-sizing: border-box;
}
